@use "../breakpoints.scss";
@use "../colors.scss";
@use "../sizes.scss";
@use "sass:math";

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 100px 24px;
  gap: 47px;

  @include breakpoints.md {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 70px 40px 101px 39px;
  }

  @include breakpoints.xl {
    padding: 120px 165px 115px 165px;
  }

  position: relative;

  .footer-wave {
    position: absolute;

    $width: 134px;
    left: math.div(-$width, 2);

    display: none;

    @include breakpoints.xl {
      display: initial;
    }
  }

  .footer-heading {
    font-weight: 800;

    font-size: sizes.px(32);
    line-height: sizes.px(40);

    @include breakpoints.xl {
      font-size: sizes.px(56);
      line-height: sizes.px(64);
    }

    color: colors.$text-black;

    max-width: 398px;
    @include breakpoints.xl {
      max-width: 635px;
    }

    width: 100%;
  }

  .footer-button {
    font-weight: 800;

    font-size: sizes.px(16);
    line-height: sizes.px(20);

    border: none;
    cursor: pointer;
    color: colors.$white;
    background-color: colors.$red;

    transition: background-color 0.2 ease-in;

    padding: 23px 44px 21px 45px;

    flex-shrink: 0;

    &:hover {
      background-color: colors.$light-red;
    }
  }
}
